@import "variables";
@import "mixins";

.article {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {
    .article__crumbs {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      font-size: 16px;
      font-family: Montserrat, sans-serif;
      margin-bottom: 60px;

      .article__crumbs_start {
        color: $color-blue;
        font-weight: 400;
        margin-right: 8px;
        flex-shrink: 0;
      }

      .article__crumbs_end {
        color: $color-blue;
        font-weight: 500;
        line-height: 20.80px;
      }
    }

    .article__head {
      display: flex;
      //align-items: baseline;
      justify-content: space-between;
      margin-bottom: 60px;

      .article__head_left {
        width: 607px;

        .article__head_left-title {
          @include head-lora-38;
          line-height: 49.40px;
          margin-bottom: 40px;
        }

        .article__head_left-description {
          color: $color-blue;
          font-size: 20px;
          font-family: Montserrat, sans-serif;
          font-weight: 400;
          line-height: 26px;
        }
      }

      .article__head_right {
        width: 527px;
        height: 320px;

        img {
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }

    .article__body {
      display: grid;
      grid-template-columns: 818px 1fr;
      grid-column-gap: 30px;

      .article__body_left {
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        .article__body_left-text {
        }

        .article__body_left-social {
          display: flex;
          //align-items: center;
          margin-bottom: 60px;

          .article__body_left-social-title {
            color: $color-blue;
            font-size: 14px;
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            margin-right: 20px;
          }

          .article__body_left-social-icons {
            display: flex;
            align-items: center;
            gap: 14px;
          }
        }

        .article__body_left-commentsTitle {
          .article__body_left-commentsTitle-title {
            @include head-lora-38;
            margin-bottom: 20px;
          }

          .article__body_left-commentsTitle-authText {
            color: #071739;
            font-size: 14px;
            font-family: Montserrat, sans-serif;
            font-weight: 400;
            margin-bottom: 60px;

            a {
              color: $color-blue;
              text-decoration: none;
            }
          }

          .article__body_left-commentsTitle-count {
            color: $color-main;
            font-size: 14px;
            font-family: Montserrat, sans-serif;
            font-weight: 400;
            margin-bottom: 40px;
          }
        }
        .article__body_left-input {
          display: flex;
          flex-direction: column;
          gap: 20px;
          max-width: 818px;
          font-size: 14px;
          font-family: Montserrat, sans-serif;
          font-weight: 400;
          margin-bottom: 60px;

          .article__body_left-textarea {
            width: 100%;
            min-height: 248px;
            max-height: 400px;
            padding: 20px 20px;
            border: 1.5px solid $color-blue;
            border-radius: 3px;
            resize: vertical;
            line-height: 18.20px;
            box-sizing: border-box;
            //outline: none;
          }
          .article__body_left-textarea:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
          }
          .button {
            width: 422px;
            padding: 15px;
            font-size: 16px;
            &.comment {
              &:disabled {
                background: $color-blue;
              }
            }
          }
        }

        .article__body_left-comments {
          display: flex;
          flex-direction: column;
          gap: 35px;
        }
        .article__body_left-moreComments {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          margin-top: 60px;

          .article__body_left-moreComments-title {
            color: $color-blue;
            font-size: 20px;
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            line-height: 26px;
          }
          &.loading {
            opacity: 0.7;
            pointer-events: none;
          }
          .rotate {
            animation: rotate 1s linear infinite;
          }
        }
        @keyframes rotate {
          from { transform: rotate(0deg); }
          to { transform: rotate(360deg); }
        }
      }

      .article__body_right {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;
        display: flex;
        flex-direction: column;
        .article__body_right-title {
          color: $color-blue;
          font-size: 26px;
          font-family: Lora, sans-serif;
          font-weight: 400;
          margin-bottom: 20px;
        }

        app-article-card {
          margin-bottom: 60px;
        }
      }


    }

  }
}
