@import "variables";
@import "mixins";

.main-popup {
  position: relative;
  text-align: center;
  color: $color-blue;
  height: 489px;
  width: 727px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .main-popup-close {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
  }

  .main-popup-title {
    @include head-lora-38;
    margin-bottom: 20px;
    width: 445px;
  }

  .main-popup-inputs {
    .main-popup-input {
      margin-bottom: 5px;

      .input {
        width: 422px;
        padding: 16px 20px;
        outline: none;
        color: $color-main;

        &::placeholder {
          color: #A8ABA7;
        }
        &.blue {
          color: $color-blue;
        }
      }
    }
  }

  .main-popup-text {
    margin-bottom: 40px;
    color: $color-text;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
  }
  .button {
    padding: 10px;
    font-weight: 500;
    width: 75px;
  }

  .main-popup-action {
    padding-top: 15px;
    .button {
      padding: 15px;
      width: 422px;
      font-size: 16px;

      &:disabled {
        background: $color-blue;
      }
    }
  }
}

