@import "variables";
@import "mixins";

.catalog {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {
    .catalog__title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .catalog__head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 40px;

      .catalog__applied_filters {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .catalog__applied_filter {
          display: flex;
          align-items: center;
          border-radius: 5px;
          border: 1.5px solid $color-blue;
          padding: 8px 20px;

          color: $color-blue;
          font-size: 16px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }

      }

      .catalog__filters {
        position: relative;
        width: 148px;
        max-width: 148px;
        font-size: 16px;
        cursor: pointer;
        box-sizing: border-box;

        .catalog__filters_head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $color-main;
          padding: 10px 0 10px 23px;
        }
        .catalog__filters_body {
          position: absolute;
          width: 100%;
          z-index: 5;
          display: none;
          padding: 12px 23px;
          background-color: #ffffff;
          border-radius: 0 0 5px 5px;
          color: #BEBEBE;
          box-sizing: border-box;

          .catalog__filters_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 14px;
            cursor: pointer;

            &:last-child {
              margin-bottom: 0;
            }
            &.active {
              color: $color-main;
            }
          }
        }

        &.open {
          width: 257px;
          min-width: 257px;
          .catalog__filters_head {
            background: #B9D5FD;
            border-radius: 5px 5px 0 0;
            padding-right: 23px;
          }
          .catalog__filters_body {
            display: block;
          }
        }
      }

    }

    .catalog__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px 24px;
    }

    .pagination {
      margin-top: 79px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 19px;
        width: 10px;

        &.disabled {
          cursor: not-allowed;
        }
      }

      .pagination-pages {
        margin: 0 30px;
        display: flex;
        align-items: center;

        a.pagination-page {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          margin-right: 15px;
          cursor: pointer;
          color: $color-main;
          font-size: 20px;

          &.active {
            //border-radius: 50%;
            //background: #b6d5b9;
            color: #B9D5FD;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

  }
}
