@import "variables";
.main {
  padding-bottom: 120px;
  .container {
    .main__carousel {
        position: relative;
      .main__carousel-item {
        height: 500px;
        width: 100%;

        .main__carousel-back {
          height: 100%;
        }
        .main__carousel-block {
          position: absolute;
          top: 100px;
          left: 80px;

          .main__carousel-block-article {
            color: $color-blue;
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.4em;
            text-transform: uppercase;
          }
          .main__carousel-block-title {
            color: #ffffff;
            width: 610px;
            font-family: Lora, sans-serif;
            font-weight: 400;
            font-size: 50px;
            line-height: 65px;

            span {
              color: $color-blue; // перенес в глобал.
            }
          }
          .main__carousel-block-description {
            width: 456px;
            color: white;
            font-size: 24px;
            font-weight: 400;
            line-height: 31.20px;
            margin-top: 20px;
          }
          .button {
            margin-top: 40px;
            width: 163px;
            font-size: 16px;
            font-weight: 400;
            padding: 15px;
          }
        }
      }

      .main__carousel-arrows {
        display: flex;
        a {
          top: calc(50% - 7px);
          display: flex;
          position: absolute;
          cursor: pointer;

          &.move-backward {
            left: 10px;
            z-index: 100;
          }
          &.move-forward {
            right: 10px;
            z-index: 100;
          }
        }
      }
    }
  };
}

.services {
  padding-bottom: 120px;
  .container {
    .services__title {
      color: $color-blue;
      font-size: 38px;
      font-family: Lora, sans-serif;
      font-weight: 400;
      margin-bottom: 40px;
    }
    .services__items {
      display: flex;
      align-items: baseline;
      justify-content: space-between;


    }


  }
}
