@import "variables";
.articles__item {
  position: relative;
  width: 291px;
  .articles__item-image {
    width: 100%;
    height: 291px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .articles__item-category {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: $color-blue;
    font-size: 11px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-color: #ffffff;
  }

  .articles__item-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 265px;
    margin-top: 15px;
    font-family: Montserrat, sans-serif;
    .articles__item-footer-top {
      .articles__item-footer-title {
        color: $color-blue;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 20px;
        max-height: 78px;
        overflow: hidden;
      }

      .articles__item-footer-text {
        color: $color-main;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.20px;
        margin-bottom: 20px;
        max-height: 128px;
        overflow: hidden;
      }
    }
    a {
      color: $color-blue;
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      text-decoration-skip-ink: none
    }
  }
}
